{
  "ftp": {
    "host": "",
    "user": "",
    "pass": "",
    "remoteSSHPath": ""
  },
  "ssh": {
    "host":"",
    "port": ,
    "username":"",
    "passphrase":"",
    "privateKeyPath": ""
  }
}